@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500");

$title-font-family: "Archivo Black", sans-serif;

* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  margin: 0;
}

.open-page {
  background-image: url("./assets/bg-map.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: rgb(60, 60, 60);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: black;

    img {
      margin: 10px;
    }
  }

  &-image {
    width: 150px;
  }

  &-title {
    max-width: 700px;
    width: 80%;
    text-align: center;
    color: white;
    font-size: 2.5rem;
  }

  &-signup {
    margin-top: 25px;
    max-width: 700px;
    width: 80%;

    &-text {
      width: 70%;
      height: 35px;
      padding-left: 10px;
    }

    &-submit {
      background-color: rgb(229, 110, 74);
      color: white;
      height: 35px;
      width: 25%;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      cursor: pointer;
    }
  }

  // We want it to be in the flow,
  // but not affecting the layout of other info.
  .sign-up-success {
    position: absolute;
    // margin-top: 50px;
    // font-size: 25px;
    color: white;
    bottom: 30%;
  }
}

.feature-list {
  .feature {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &.is-odd {
      flex-direction: row-reverse;
    }

    &-black-background {
      width: 50vw;
      padding-top: 45%; // Constrain the ratio
      position: relative;
      background: black;

      .feature-background-image,
      .feature-image {
        position: absolute;
        margin-left: 10%;

        &.image-is-odd {
          right: 10%;
        }
      }

      .feature-background-image {
        width: 55vw;
        top: 10%;
      }

      .feature-image {
        height: 60%;
        top: 20%;
      }
    }

    &-caption-container {
      position: absolute;
      width: 30%;
      right: 5%;

      &.caption-is-odd {
        left: 5%;
      }

      .feature-caption-title {
        font-size: 27px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .feature-caption-body {
        font-size: 13.5px;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .feature-list {
    .feature {
      &-caption-container {
        .feature-caption-title {
          font-size: 3vw;
        }

        .feature-caption-body {
          font-size: 1.5vw;
        }
      }
    }
  }
}
